/* universal styles */

body {
    display: block;
    font-family: 'aBeeZee', sans-serif;
    margin: 0;
    background-color: #f5c242;
}

h1 {
    display: block;
    font-weight: bold;
}

h2 {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
}

.summary, .testimonial, .photos, .meetup {
    margin: 4em auto;
}

/* nav bar */

ul {
    list-style: none;
    margin: 0;
}

ul li {
    color: white;
    padding: 0.5rem 1.5rem;
    margin-right: 1.5rem;
    display: inline-block;
}

.bar {
    padding-top: 1rem;
    background-color: black;
    color: white;
}

/* intro section */

.intro {
    height: 10rem;
    padding-top: 1rem;
    background-position: center;
    background-color: gold; 
    background-repeat: no-repeat;
}

.intro h1 {
    color: black;
    font-size: 2rem;
    margin-top: 1rem;
    padding: 2rem;
    text-align: center;
}


/* summary section  */

.summary {
    padding: 0 1rem;
}

.summary h2 {
    color: firebrick;
}

/* photos section */

.photos img {
    width: 30%;
    margin: 1.5%;
}

@media only screen and (max-width: 1048px) {
    .photos img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
}

/* testimonial section  */

.testimonial {
    background-color: black;
    color: white;
    height: 10rem;
    padding: 0 1rem;
    padding-top: 1rem;   
}

.testimonial h1 {
    font-size: 2rem;
}


/* meetup section */

.meetup {
    margin-bottom: 2rem;
}

.meetup h1 {
    text-align: center;
}

.meetup img {
    width: 10%;
    height: auto;
    display: block;
    margin: auto;
}